{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container pb-5">
        <div class="row pt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>You have been logged out</h3>
                <div class="content-section">
                    <small class="text-muted">
                        <a href="{% url 'login' %}">Log In Again</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}