{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container pb-5">
    <div class="row pt-5">
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-md-xs-12,col-sm-6,col-md-6 d-flex justify-content-center">
            <div class="card" >
                <form method="POST" class="p-5" >
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create Account</legend>
                        {{form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-dark">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted p-3">
                        Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
</div>
{% endblock %}